In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
rating_data = pd.read_csv('c:/Users/USER/Desktop/ssafy2_proj/한정섭/ratings.csv')
movie_data = pd.read_csv('c:/Users/USER/Desktop/ssafy2_proj/한정섭/movies.csv')

In [3]:
rating_data.head(2)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435

In [4]:
movie_data.head(2)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

In [5]:
rating_data.drop('timestamp', axis = 1, inplace=True)
rating_data.head(2)

   userId  movieId  rating
0       1      110     1.0
1       1      147     4.5

In [6]:
user_movie_rating = pd.merge(rating_data, movie_data, on = 'movieId')

In [7]:
user_movie_rating.head(2)

   userId  movieId  rating              title            genres
0       1      110     1.0  Braveheart (1995)  Action|Drama|War
1      11      110     3.5  Braveheart (1995)  Action|Drama|War

In [8]:
movie_user_rating = user_movie_rating.pivot_table('rating', index = 'title', columns='userId')
user_movie_rating = user_movie_rating.pivot_table('rating', index = 'userId', columns='title')

ValueError: Unstacked DataFrame is too big, causing int32 overflow

In [11]:
user_movie_rating.head(5)

   userId  movieId  rating              title            genres
0       1      110     1.0  Braveheart (1995)  Action|Drama|War
1      11      110     3.5  Braveheart (1995)  Action|Drama|War
2      22      110     5.0  Braveheart (1995)  Action|Drama|War
3      24      110     5.0  Braveheart (1995)  Action|Drama|War
4      29      110     3.0  Braveheart (1995)  Action|Drama|War